<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.mapper.PatientMapper">
    <resultMap id="PatientResultMap" type="com.example.springboot.entity.Patient">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="specific_role" property="specificRole"/>
        <result column="id_status" property="idStatus"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="id_card_number" property="idCardNumber"/>
        <association property="user" javaType="com.example.springboot.entity.User">
            <id column="user_id" property="id"/>
            <result column="username" property="username"/>
            <result column="role" property="role"/>
            <result column="status" property="status"/>
            <result column="created_at" property="createdAt"/>
        </association>
    </resultMap>

    <select id="selectAll" resultMap="PatientResultMap">
        select p.*, u.username, u.role, u.status, u.created_at
        from patient p
        left join user u on p.user_id = u.id
    </select>

    <select id="selectById" resultMap="PatientResultMap">
        select p.*, u.username, u.role, u.status, u.created_at
        from patient p
        left join user u on p.user_id = u.id
        where p.id = #{id}
    </select>

    <select id="selectByPhoneNumber" resultMap="PatientResultMap">
        select p.*, u.username, u.role, u.status, u.created_at
        from patient p
        left join user u on p.user_id = u.id
        where p.phone_number = #{phoneNumber}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into patient(user_id, name, specific_role, id_status, phone_number, id_card_number)
        values(#{userId}, #{name}, #{specificRole}, #{idStatus}, #{phoneNumber}, #{idCardNumber})
    </insert>

</mapper>
