<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.mapper.SystemConfigMapper">
    <select id="selectAll" resultType="com.example.springboot.entity.SystemConfig">
        select * from system_config
    </select>

    <select id="selectById" resultType="com.example.springboot.entity.SystemConfig">
        select * from system_config where id = #{id}
    </select>
    
    <select id="selectByKey" resultType="com.example.springboot.entity.SystemConfig">
        select * from system_config where `key` = #{key}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into system_config(`key`, `value`, `description`, `created_at`, `updated_at`)
        values(#{key}, #{value}, #{description}, now(), now())
    </insert>

    <update id="updateValueByKey">
        update system_config
        set `value` = #{value}, updated_at = now()
        where `key` = #{key}
    </update>

    <delete id="deleteByKey">
        delete from system_config where `key` = #{key}
    </delete>

</mapper>

